body, h1, h4, p, ul, li {
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Glass Antiqua', cursive;
}

.name {
    color: chocolate;
    size: 2rem;
}

body {
    font-family: Arial, sans-serif;
    background-color:bisque;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.flex-container{
    flex-direction: column;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

h4 {
    font-size: 24px;
    margin-top: 20px;
}

ul {
    list-style: none;
}

ul li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: inherit; 
}


.login-link {
    font-weight: bold;
}

.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(90, 56, 39);
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
}

.flavor-treat-btn {
    border-radius: 25px;
    background-color: rgba(222, 184, 135, 0.573);
    color: #333;
}

.button:hover {
    background-color: chocolate;
}

header {
    background-color: rgb(90, 56, 39);
    position: sticky;
    top: 0;
    z-index: 100;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    max-width: 100%;
}

.home-link {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links li {
    margin: 0;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.navbar.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
