@{
  Layout = "_Layout";
}
<div class="container">

  @if (User.Identity.IsAuthenticated)
  {
    <p>Hello @User.Identity.Name!</p>
    @using (Html.BeginForm("LogOff", "Account"))
    {
      <input type="submit" class="button" value="Log out" />
    }
  }
  else
  {
    <p><button class="button">@Html.ActionLink("Register", "Register")</button></p>
    <p><button class="button">@Html.ActionLink("Log in", "Login")</button></p>
  }
</div>