<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Pierre's Bakery</title>
    <link rel="stylesheet" href="~/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Glass+Antiqua&display=swap" rel="stylesheet">
  </head>
  <body>
  <header>
        <nav class="navbar">
        <a class="home-link" href="/">Home</a>
        <ul class="nav-links">
            <li><a href="../Flavors">Flavors</a></li>
            <li><a href="../Treats">Treats</a></li>
        </ul>
        </nav>
    </header>
    @RenderBody()
  </body>
</html>
